@import '../../scss/variables';

:root{
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

.banner{
    background-color: $color-primario;
    margin-top: -1rem;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .texto{
        color: $color-secundario;
        width: 50vw;
        height: 50%;
        

        p,h1{
            width: 100%;
            text-align: left;
        }

        p{
            font-family: $font-texto;
            line-height: 3rem;
            font-size: 1.5rem;
        }

        h1{
            font-family: $font-title;
            position: relative;
            top:-10vh;
            
            
        }
    }

    img{
        width: 45vw;
        height: auto;
    }
}

.scene_container{
    
     width: 100vw;
     height:100vh;
    }
    
    .container{
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        

        .wrapper{
            width: 100vw;
            height: 100vh;
            position: relative;
            padding-left: 3rem;
            background-image: url('/public/fondo.png');
            background-size:cover;
            background-position: center;
            margin-left:auto ;
           


            .quienes__somos{
                width: 50vw;
                position: absolute;
                top: 10vh;
                display: flex;
                flex-direction: column;
                align-items: start;
                

                h1{
                    margin-bottom: 2rem;
                    color:$color-terciario;
                    text-shadow: 1px 1px 1px black;
                }
                
                p{
                    text-align: start;
                    width: 90%;
                    border:none;
                    line-height: 2rem;
                    font-size: 1.1rem;
                }

            }

            .nuertras__tazas{
                width: 50vw;
                position: absolute;
                bottom: 10vh;
                right: 4vw;
                display: flex;
                flex-direction: column;
                align-items: end;

                h1{
                    margin-bottom: 2rem;
                    color:$color-terciario;
                    text-shadow: 1px 1px 1px black;
                
                    
                }
                
                p{
                    text-align: end;
                    width: 90%;
                    border:none;
                    line-height: 2rem;
                    font-size: 1.1rem;
                }
            }

           }
    }