@import '../scss/variables';

.nav__principal{
    position: fixed;
    width: 100%;
    top:0;

    background-image: $background;
    font-family: $font-title;
    z-index: 1;
    a{
        color: $color-secundario;
        text-decoration: none;
       &:hover{
        color:$color-terciario;
       }
    }

     
    .dropdown-toggle:hover{
        color:$color-terciario;
    }

    

    .dropdown-menu{
        background-color:$color-primario;
        z-index: 999;

        a{
            display: flex;
            flex-direction: column;
            margin-left: 1rem;

            &:hover{
                color:$color-terciario;
            }
        }

    }
    
}
