$color-primario:#2c0226;
$color-primario-alpha:#492644;
$color-secundario:#a8e3e5;
$color-terciario:#559796;
$sombra-texto:1px 1px 1px#000, 1px 1px 3px#000;
$font-texto:'Mooli', sans-serif;
$font-title: 'Quattrocento', serif;
$background: linear-gradient(180deg, rgba(44,2,38,0.9752275910364145) 81%, rgba(213,74,74,0) 100%);